* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #242424;
  color: white;
  text-align: center;
}
.container {
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.game {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1.5vmin;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
  font-size: 8vmin;
  color: #b0413e;
}
.resetBtn{
    padding: 0.25rem 1rem;
    font-size: 1.25rem;
    background-color:#33b249;
    color: white;
    border: none;
    border-radius: 10px;
}
.NewGame{
  background-color: #ffffc7;
  border: none;
  border-radius: 10px;
  padding: 0.25rem 1rem;
  font-size: 1.25rem;
}
#msg{
  font-size: 8vmin
}
.msgcontainer{
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 4rem;
}
.hide{
  display: none;
}